@font-face {
	font-family: Monocraft;
	src: url('./src/Monocraft.ttf');
}

html {
	font-family: Monocraft;
	scroll-behavior: smooth;
}

body {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1112%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(18%2c 18%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M2016 1080L0 1080 L0 806.07Q60.11 706.18%2c 160 766.29Q249.14 695.43%2c 320 784.58Q343.55 712.13%2c 416 735.69Q478.15 701.84%2c 512 763.99Q632.8 724.79%2c 672 845.58Q772.95 786.53%2c 832 887.47Q847.06 806.53%2c 928 821.58Q986.93 784.51%2c 1024 843.44Q1047.06 770.5%2c 1120 793.55Q1138.47 716.02%2c 1216 734.49Q1318.6 677.09%2c 1376 779.68Q1493.11 736.79%2c 1536 853.9Q1554.45 776.35%2c 1632 794.8Q1687.88 754.67%2c 1728 810.55Q1748.36 734.9%2c 1824 755.26Q1864.9 700.16%2c 1920 741.06Q2005.82 730.88%2c 2016 816.7z' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/path%3e%3cpath d='M2048 1080L0 1080 L0 993.65Q-4.16 893.49%2c 96 889.32Q126.07 823.39%2c 192 853.46Q284.53 786%2c 352 878.53Q456.93 887.46%2c 448 992.39Q534.97 919.36%2c 608 1006.33Q657.02 895.36%2c 768 944.38Q835.07 915.45%2c 864 982.52Q903.55 926.07%2c 960 965.61Q1007.47 853.08%2c 1120 900.55Q1142.66 827.21%2c 1216 849.88Q1270.82 808.7%2c 1312 863.52Q1385.4 840.92%2c 1408 914.32Q1512.71 859.03%2c 1568 963.74Q1593.95 829.69%2c 1728 855.64Q1821.39 789.03%2c 1888 882.42Q1986.11 820.53%2c 2048 918.64z' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/path%3e%3cpath d='M1984 1080L0 1080 L0 976.61Q88.82 905.43%2c 160 994.25Q235.16 973.41%2c 256 1048.58Q313.92 1010.5%2c 352 1068.42Q377.99 998.41%2c 448 1024.39Q477.98 958.37%2c 544 988.35Q601.34 949.69%2c 640 1007.03Q723.92 994.95%2c 736 1078.88Q824.07 1006.95%2c 896 1095.02Q952.4 1055.42%2c 992 1111.82Q1006.26 966.08%2c 1152 980.34Q1226.47 894.81%2c 1312 969.28Q1468.93 966.21%2c 1472 1123.14Q1472.58 1027.72%2c 1568 1028.31Q1639.15 939.46%2c 1728 1010.61Q1764.74 951.35%2c 1824 988.09Q1947.47 951.57%2c 1984 1075.04z' fill='rgba(50%2c 50%2c 50%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1112'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	color: #f1f1f1;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #121212;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border: 3px solid transparent;
	border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
	background-color: #333;
}

main {
	text-align: center;
	padding-bottom: 80px;
}

a.designed {
	color: #a5a5a5;
	text-decoration-color: transparent;
	text-underline-offset: 5px;
	-webkit-transition: font-size .5s ease, text-decoration-color .5s ease, color .5s ease;
  	-moz-transition: font-size .5s ease, text-decoration-color .5s ease, color .5s ease;
  	transition: font-size .5s ease, text-decoration-color .5s ease, color .5s ease;
}

a.designed:hover {
	color: #f1f1f1;
	text-shadow: 0px 0px 1px #f1f1f1;
	font-size: 101.5%;
	text-decoration-color: #f1f1f1;
}

.features {
  	text-align: left;
    margin-left: 50%;
    transform: translate(-50%);
}

.features li {
	padding: 5px;
}

.card-view {
	margin-bottom: 7px;
	display: inline-block;
	background-color: #232323;
	padding: 20px;
	border-radius: 15px;
	-webkit-transition: box-shadow,transform .5s ease;
  	-moz-transition: box-shadow,transform .5s ease;
  	transition: box-shadow,transform .5s ease;
}

.card-view:hover {
	box-shadow: 0px 0px 0.3px 2.7px #333;
	transform: scale(1.005);
}

.image-near-center {
	height: 438.75px;
}

.image-in-center {
	height: 511.875px;
}

.image-near-center, .image-in-center {
	border-radius: 7px;
	-webkit-transition: transform .5s ease;
  	-moz-transition: transform .5s ease;
  	transition: transform .5s ease;
}

.image-near-center:hover, .image-in-center:hover {
	transform: scale(1.05);
}

.enter-first {
	display: flex;
    justify-content: center;
}

.enter-first img {
	margin-left: 4px;
	margin-right: 4px;
	height: 28px;
	-webkit-transition: transform .5s ease;
  	-moz-transition: transform .5s ease;
  	transition: transform .5s ease;
}

.enter-first img:hover {
	transform: scale(1.05);
}

.bottom-navigation {
	margin-bottom: 14px;
	position: fixed;
    left: 50%;
    transform: translate(-50%);
	border-radius: 15px;
	background: #232323;
	color: #fff;
	bottom: 0;
	display: flex;
	padding: 10px 14px 10px 14px;
}

.bottom-navigation a {
	color: #c8c8c8;
	text-decoration: none;
	font-size: 2vh;
	padding: 0.9vh;
	-webkit-transition: color, .5s ease;
  	-moz-transition: color .5s ease;
  	transition: color .5s ease;
}

.bottom-navigation a:hover {
	color: #fff;
}
